body {
  font-family: monospace;
  font-size: 18px;
  background: #111;
  color: #666;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}


.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }

.nice-modal {
  width: 50%;
  height: 50%;
  /*padding: 25px;*/
  /*background: #fff;*/
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);*/
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25%;
  /*margin-left: -225px;*/
  color: #fff;
  /*text-align: justify;*/
  display: none;
  border-radius: 5px; }
  .nice-modal .row {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }
  .nice-modal .nice-modal-content ul {
    width: 100%;
    margin: 5px; }
  .nice-modal .nice-modal-content ul li {
    width: 100%;
    padding: 0px 0px 4px 0px;
    margin: 4px 0px 4px 0px;
    border-bottom: 1px dashed #efefef; }
  .nice-modal .nice-modal-header {
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #efefef;
    margin: 0px 0px 15px 0px; }
  .nice-modal .nice-modal-footer {
    /*border-top: 1px solid #efefef;*/
    color: #fff;
    font-size: 2em;
    margin: 15px 0px 0px 0px;
    padding: 15px 0px 0px 0px; }
    .nice-modal .nice-modal-footer .btn {
      margin-right: 10px; }
      .nice-modal .nice-modal-footer .btn:nth-child(1) {
        margin-right: 0px; }

.nice-result {
  width: 280px;
  border-radius: 3px;
  padding: 30px 0px 30px 70px;
  position: fixed;
  z-index: 2000;
  left: 50%;
  top: 50%;
  margin: -40px 0px -40px -140px;
  display: none; }
  .nice-result.success {
    color: #fff;
    background: url(/img/admin/success-icon.png) no-repeat 18px 26px #7AC143; }
  .nice-result.danger {
    color: #fff;
    background: url(/img/admin/danger-icon.png) no-repeat 18px 22px #b52e31; }
  .nice-result .nice-result-message {
    text-align: left; }


input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

/*button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}*/



input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.centered{
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.menu-cat{
  margin-top:10vh;
  font-family: g-blackk;
  color: #4d2035;
  margin-top: 10vh;
  margin-left: 30%;
}

.categorias{
  display: inline-block;
  color: #4d2035;
  text-decoration: none;
  outline: none;
}



.container {
    /* position: relative; */
    /* max-width: 60%; */
    max-width: 48%;
    margin: 0 auto;
    height: 100vh;
    padding: 5%;
    padding-left: 0;
    float: right;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    overflow: hidden;
    margin-right: 5em;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 1;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 1;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 1;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}




.comprar-top{
  float: right;
  background: #2f7e34;
  border: none;
  height: 2.9em;
  width: 29%;
  color: #fff;
  font-size: 7pt;
  letter-spacing: 2.5px;
  font-weight: 600;
  transition: 0.2s ease-in
}



.comprar-top:hover{
  background-color: #155119;
  color: #fff;
  cursor: pointer;
}

body .curt{
  text-align: right;
   width: 67%; display:
    inline-block
}

.logo-small{
  display: block;
  width: 20%;
  margin-bottom: 1em;
}



@font-face {
  font-family: Gotham;
  src: url('../font/GothamHTF-Medium.otf') format("opentype");
}


@font-face {
  font-family: g-light;
  src: url('../font/GothamHTF-Light.otf') format("opentype");
}


@font-face {
  font-family: g-book;
  src: url('../font/GothamHTF-Book.otf') format("opentype");
}

@font-face {
  font-family: g-bold;
  src: url('../font/GothamHTF-Bold.otf') format("opentype");
}

@font-face {
  font-family: g-blackk;
  src: url('../font/GothamHTF-Black.otf') format("opentype");
}
